

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                {{model.user}}'s posting
            </a>
            <div class="wd-right">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                    <span class="glyphicon glyphicon-plus"
                          ng-if="model.boolean"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

    <div wd-draggable class="container-fluid">
            <div ng-repeat="widget in model.widgets" class="wd-widget">
                <div ng-include="model.getUrl(widget)"></div>
                <div class="wd-toolbar">
                    <a ng-click="model.editpage(widget)"
                       ng-if="model.boolean"
                       class="glyphicon glyphicon-cog"></a>

                </div>

            </div>
        </div>


<nav class="navbar navbar-white navbar-fixed-bottom">
    <div class="container pull-right">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center ">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
