
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="back-image pull-left" href="#!/user/{{model.userId}}
            /website/{{model.websiteId}}/page/{{model.pageId}}/widget"></a>

            <a class="navbar-brand" href="#!/user/{{model.userId}}">Edit your Image</a>
            <p class="navbar-text pull-right">
                <a href="#!/login" class="navbar-link">Logout</a>
            </p>
        </div>
    </div>
</nav>



        <div class="row">

            <div class="col-sm-3 hidden-xs">
                <div class="left-nav-bar">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="list-group-item active first-block">
                        widget-list<span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                    <div class="list-group">
                        <a ng-click="model.createNew('header')" class="list-group-item">Header</a>
                        <a ng-click="model.createNew('image')"  class="list-group-item">Image</a>
                        <a ng-click="model.createNew('youtube')" class="list-group-item">Youtube</a>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-9">
                <div>
                    Edit your Image:
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                    ng-click="model.update('image', model.widget.url, model.widget.websiteIdth)"
                    class="glyphicon glyphicon-ok"></a>
                </div>
                <div class="website-new-page-inner-container">
                    <div class="form-group">
                        <label for="widget-image-name">Name</label>
                        <input type="text" class="form-control" id="widget-image-name" value="My header"></input>
                    </div>
                    <div class="form-group">
                        <label for="widget-image-url">URL</label>
                        <input type="text" ng-model="model.widget.url" class="form-control"
                               id="widget-image-url" value="http://dummyURL"></input>
                    </div>
                    <div class="form-group">
                        <label for="widget-image-websiteIdth">websiteIdth</label>
                        <input type="text" ng-model="model.widget.websiteIdth"
                               class="form-control" id="widget-image-websiteIdth" value="100%"></input>
                    </div>
                    <div class="form-group">
                        <label for="widget-image-upload">Upload</label>
                        <input type="file" class="form-control"
                               id="widget-image-upload" accept="image/*"></input>
                    </div>
                    <a class="btn btn-primary btn-block btn-login"
                       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                       ng-click="model.delete()">Delete</a>
                </div>
            </div>
        </div>

<!-- I'm a footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="#!/user/{{user.userId}}/profile">
                <div class="navbar-profile-icon"></div>
            </a>
        </div>
    </div>
</nav>
