
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="back-image pull-left" href="#!/profile/website/{{model.websiteId}}/page/{{model.pageId}}/widget"></a>
            <a class="navbar-brand" href="#!/profile">widget-choose</a>

        </div>
    </div>
</nav>


<div>
    <div>
        <div class="row">
            <div class="col-xs-12">
                <div class="left-nav-bar">
                    <div class="list-group">
                        <a href="#!/profile/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="list-group-item active first-block">
                            widget-list<span class="plus-image"></span></a>
                        <a ng-click="model.createNew('header')" class="list-group-item">Header</a>
                        <a ng-click="model.createNew('image')"  class="list-group-item">Image</a>
                        <a ng-click="model.createNew('youtube')" class="list-group-item">Youtube</a>
                        <a ng-click="model.createNew('html')" class="list-group-item">HTML</a>
                        <a ng-click="model.createNew('input')" class="list-group-item">INPUT</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-white navbar-fixed-bottom">
    <div class="container pull-right">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center ">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
