
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="back-image pull-left" href="#!/profile/website/{{model.websiteId}}/page/{{model.pageId}}/widget"></a>
            <a class="navbar-brand" href="#!/profile">Edit your Video</a>
            <p class="navbar-text pull-right">
                <a href="#!/login" class="navbar-link">Logout</a>
            </p>
        </div>
    </div>
</nav>

        <div class="row">



            <div class="col-xs-12 col-sm-9">
                <div>
                    Edit your Video:
                    <a href="#!/profile/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                    ng-click="model.update('youtube', model.widget.url, model.widget.websiteIdth)"
                    class="glyphicon glyphicon-ok"></a>
                </div>
                <div class="website-new-page-inner-container">
                    <div class="form-group">
                        <label for="widget-video-name">Name</label>
                        <input type="text" class="form-control" id="widget-video-name" value="My video"></input>
                    </div>
                    <div class="form-group">
                        <label for="widget-video-url">URL</label>
                        <input type="text" ng-model="model.widget.url" class="form-control"
                               id="widget-video-url" value="http://dummyURL"></input>
                    </div>
                    <div class="form-group">
                        <label for="widget-video-websiteIdth">websiteIdth</label>
                        <input type="text" ng-model="model.widget.websiteIdth"
                               class="form-control" id="widget-video-websiteIdth" value="100%"></input>
                    </div>
                    <a class="btn btn-primary btn-block btn-login"
                       href="#!/profile/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                       ng-click="model.delete()">Delete</a>
                </div>
            </div>
        </div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="#!/user/{{user.userId}}/profile">
                <div class="navbar-profile-icon"></div>
            </a>
        </div>
    </div>
</nav>
