<body ng-app="WebAppMaker">
    <div class="container"
         ng-controller="loginController">



        <div ng-show="vm.message" class="alert alert-danger">
            {{vm.message}}
        </div>
        <img src="https://github.com/sxjzc01/jin-zechen-webdev/blob/master/login_button.png?raw=true" alt="Login" style="width:300px;height:228px;">

        <input type="text" ng-model="username"
               class="form-control"
               placeholder="username"/>
        <input type="password" ng-model="password"
               class="form-control"
               placeholder="password"/>
        <a ng-click="vm.login(username, password)"
           class="btn btn-primary btn-block">Login</a>
        <!--<a href="/auth/facebook" class="btn btn-primary btn-block">-->
            <!--    <span class="fa fa-facebook"></span>-->
            <!--    Facebook-->
        <!--</a>-->
        <a class="btn btn-danger btn-block" href="/auth/google">
            <span class="fa fa-google-plus"></span>
            Google
        </a>
        <a class="btn btn-success btn-block"
           href="#!/register">Register</a>
        <a class="btn btn-info btn-block"
           href="#!/">Go back</a>

    </div>
</body>
