
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Page-new
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">

        <div class="row col-xs-12 col-sm-">

            <div ng-show="model.error" class="alert alert-danger">
                {{model.error}}
            </div>

            <label for="name">Name</label>
            <input class="form-control"
                   ng-model="page.name"
                   id="name"/>

            <label for="description">Description</label>
            <textarea id="description"
                      ng-model="page.description"
                      rows="5"
                      class="form-control"> </textarea>


            <a class="btn btn-block btn-success"
               ng-click="model.createPage(page)"
               >Create</a>
        </div>
    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container pull-right">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

</body>